@page
@model EmailModel
@{
    ViewData["Title"] = "Gérer l'Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="container">
    <h3 class="mb-4">@ViewData["Title"]</h3>

    <!-- Message de statut -->
    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="row">
        <div class="col-md-6">
            <form id="email-form" method="post">
                <!-- Validation des erreurs -->
                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <!-- Email actuel -->
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating input-group mb-3">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                        <label asp-for="Email">Email actuel</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" disabled />
                        <label asp-for="Email">Email actuel</label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Envoyer l'email de vérification</button>
                    </div>
                }

                <!-- Nouveau Email -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                    <label asp-for="Input.NewEmail">Nouvel Email</label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <!-- Bouton de changement d'email -->
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Changer l'email</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
